.academicshero{
    height: 90vh;
    background-image: linear-gradient(rgba(13, 32, 58, 0.795), rgba(13, 32, 58, 0.651)), url(../images/Pcbstudents.jpg);
    background-size: cover;
    .academics-title{
        color: #fff;
        margin: 130px;
    }
    h1{
        font-weight: 200;
    }
}
#Title{
    justify-content: center;
    #title-title{
        margin-top:20px
    }
    h2{
        margin-top: -15px;
    }
    img{
        height: 100px;
    }
    .col-xs-4{
     h2{
         margin-top: 20px;
         font-size: 20px
     }
       
    }
    .exceptional{
        background-color: #013361;
        padding-top: 60px;
        padding-bottom: 30px;
        color: rgb(255, 202, 87) ;
        p{
            color: #fff;
        }
        h2{
            color: rgb(252, 213, 130);
        }
        h3{
            color: rgb(255, 202, 87);
        }
        .col-md-4{
            
            .lead{
                font-size: 20px;
            }
            .m-2{
                margin-top: 10px;
            }
        }
    }
    #firstdesc{
        border-bottom: 1px solid;
    }
    #lastdesc{
        border-bottom: 1px solid;
    }
    #latestdesc{
      border-left: 1px solid;
      border-right:1px solid

    }
    #middledesc{
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
    }
    @media screen and (max-width: 1200px) {
        #middledesc{
            border: none;
        }
        #latestdesc{
            border: none;
        }
        #lastdesc{
            border: none;
        }
        #firstdesc{
            border: none;
        }
    }
}
.combinations{
    margin-top: 20px;
    h2{
        font-size: 40px;
    }
    .col-md-3{
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        #mpc{
            background-color: #013361;
            h1{
                color: rgb(255, 255, 255);
            }
            h4{
                color: #fff;
            }
        }
        #pcm{
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(226, 155, 2);
            h1{
                color: rgb(226, 155, 2);
            }
            h4{
                color: rgb(226, 155, 2);
            }
        }
        #mcb{
            background-color: rgb(255, 255, 255);
           border: 1px solid;
        }
        #pcb{
            background-color: #013361;
            h1{
                color: rgb(255, 202, 87) ;
            }
            h4{
                color: rgb(255, 202, 87) ;
            }
        }
        .card-academic{
            background-color: rgb(206, 206, 206);
            padding: 10px;
            .cardheader{
              padding:10px;
              h1{
                  font-size: 40px;
                  font-weight: 500;

              }
            }
        }
    }
}
.facilities{
    background-image: linear-gradient(rgba(13, 32, 58, 0.836), rgba(13, 32, 58, 0.651)), url(../WhatsAppImages/facilities1.png);
    background-size: cover;
   h2{
    color: rgb(255, 202, 87);
   }
   h3{
    color: rgb(255, 202, 87);
   }
   h5{
        color: #fff;
        font-size: medium;
        line-height: normal;
        font-weight: 200;
   }
   p{
       color: #fff;
       font-weight: 400;
   }
}
.with-margin{
    margin-top: 20px;
}

.row-padded{
    padding-left: 50px;
    padding-right: 50px;
}
.facilities-gallery{
    img{
        width: 100%;
        height: auto;
        border: 2px solid #fff;
    }
    .with-margin-bottom{
        margin-bottom: 25px;
    }
}