.academicshero {
  height: 90vh;
  background-image: linear-gradient(rgba(13, 32, 58, 0.795), rgba(13, 32, 58, 0.651)), url(../images/Pcbstudents.jpg);
  background-size: cover;
}
.academicshero .academics-title {
  color: #fff;
  margin: 130px;
}
.academicshero h1 {
  font-weight: 200;
}

#Title {
  justify-content: center;
}
#Title #title-title {
  margin-top: 20px;
}
#Title h2 {
  margin-top: -15px;
}
#Title img {
  height: 100px;
}
#Title .col-xs-4 h2 {
  margin-top: 20px;
  font-size: 20px;
}
#Title .exceptional {
  background-color: #013361;
  padding-top: 60px;
  padding-bottom: 30px;
  color: rgb(255, 202, 87);
}
#Title .exceptional p {
  color: #fff;
}
#Title .exceptional h2 {
  color: rgb(252, 213, 130);
}
#Title .exceptional h3 {
  color: rgb(255, 202, 87);
}
#Title .exceptional .col-md-4 .lead {
  font-size: 20px;
}
#Title .exceptional .col-md-4 .m-2 {
  margin-top: 10px;
}
#Title #firstdesc {
  border-bottom: 1px solid;
}
#Title #lastdesc {
  border-bottom: 1px solid;
}
#Title #latestdesc {
  border-left: 1px solid;
  border-right: 1px solid;
}
#Title #middledesc {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}
@media screen and (max-width: 1200px) {
  #Title #middledesc {
    border: none;
  }
  #Title #latestdesc {
    border: none;
  }
  #Title #lastdesc {
    border: none;
  }
  #Title #firstdesc {
    border: none;
  }
}

.combinations {
  margin-top: 20px;
}
.combinations h2 {
  font-size: 40px;
}
.combinations .col-md-3 {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}
.combinations .col-md-3 #mpc {
  background-color: #013361;
}
.combinations .col-md-3 #mpc h1 {
  color: rgb(255, 255, 255);
}
.combinations .col-md-3 #mpc h4 {
  color: #fff;
}
.combinations .col-md-3 #pcm {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 155, 2);
}
.combinations .col-md-3 #pcm h1 {
  color: rgb(226, 155, 2);
}
.combinations .col-md-3 #pcm h4 {
  color: rgb(226, 155, 2);
}
.combinations .col-md-3 #mcb {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
}
.combinations .col-md-3 #pcb {
  background-color: #013361;
}
.combinations .col-md-3 #pcb h1 {
  color: rgb(255, 202, 87);
}
.combinations .col-md-3 #pcb h4 {
  color: rgb(255, 202, 87);
}
.combinations .col-md-3 .card-academic {
  background-color: rgb(206, 206, 206);
  padding: 10px;
}
.combinations .col-md-3 .card-academic .cardheader {
  padding: 10px;
}
.combinations .col-md-3 .card-academic .cardheader h1 {
  font-size: 40px;
  font-weight: 500;
}

.facilities {
  background-image: linear-gradient(rgba(13, 32, 58, 0.836), rgba(13, 32, 58, 0.651)), url(../WhatsAppImages/facilities1.png);
  background-size: cover;
}
.facilities h2 {
  color: rgb(255, 202, 87);
}
.facilities h3 {
  color: rgb(255, 202, 87);
}
.facilities h5 {
  color: #fff;
  font-size: medium;
  line-height: normal;
  font-weight: 200;
}
.facilities p {
  color: #fff;
  font-weight: 400;
}

.with-margin {
  margin-top: 20px;
}

.row-padded {
  padding-left: 50px;
  padding-right: 50px;
}

.facilities-gallery img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
}
.facilities-gallery .with-margin-bottom {
  margin-bottom: 25px;
}

.lead{
  color: #fff;
}