.child-entry, .event-entry {
    margin-bottom: 30px;
    text-align: center; 
}

.child-events-container {
    margin: 0 1rem;
}

.child-entry img, .event-entry img {
    width: 100%;
    height: auto;
    max-width: 400px; 
    max-height: 300px; 
    object-fit: cover; 
    border-radius: 5px 5px 0 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.child-entry .desc, .event-entry .desc {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    text-align: left; 
}


/* start of collapse styles */
.container-collapse {
}
.panel-heading {
    padding: 2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.panel-title {
    flex-grow: 1;
    padding: 20px 0 0 0;
}
.panel-heading .fa {
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
.panel-heading.collapsed .fa {
    transform: rotate(360deg); /* up arrow */
}
.panel-body {
    padding: 2rem;
    font-size: 18px;
}
/* end of collapse styles */