body {
    font-family: "Poppins", sans-serif;
}

.number {
    font-weight: bold;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}

.li {
    background-color: #013361;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
}

h4 {
    color: white;
}

.holder {
    background-color: #013361;
}


/* #013361 */

.focus {
    background-color: #fa6776;
    color: white;
    font-weight: bold;
}

.change::selection {
    color: white;
    background-color: #013361;
}

.text {
    color: white;
    margin-right: 3px;
    font-weight: bold;
}