.news-prev {
  font-family: "Poppins", Arial, Helvetica;
  border: 1px solid transparent !important;
  background: #06245c !important;
  width: 200px !important;
  height: 40px !important;
  text-align: center !important;
  margin: 20px !important;
  color: #FFF !important;
  padding: 7px !important;
  border-radius: 0px !important;
}

.news-prev:hover, .news-next:hover {
  background: #ece3e3 !important;
  color: #06245c !important;
  -webkit-transition: ease-in-out, 0.5s !important;
  transition: ease-in-out, 0.5s !important;
  cursor: pointer !important;
}

.controls-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32%;
}

.news-next {
  font-family: "Poppins", Arial, Helvetica;
  border: 1px solid transparent !important;
  background: #06245c !important;
  width: 200px !important;
  height: 40px !important;
  text-align: center !important;
  margin: 20px !important;
  color: #FFF !important;
  padding: 7px !important;
  border-radius: 0px !important;
}

@media screen and (max-width: 720px) {
  .news-prev {
    font-family: "Poppins", Arial, Helvetica;
    border: 1px solid transparent;
    background: #06245c;
    width: 120px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: #FFF;
    padding: 6px;
  }
  .news-prev:hover, .news-next:hover {
    background: #ece3e3;
    color: #06245c;
    -webkit-transition: ease-in-out, 0.5s;
    transition: ease-in-out, 0.5s;
    cursor: pointer;
  }
  .controls-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2%;
  }
  .news-next {
    font-family: "Poppins", Arial, Helvetica;
    border: 1px solid transparent;
    background: #06245c;
    width: 120px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: #FFF;
    padding: 6px;
  }
}

.ln-heading {
  margin: 20px;
  padding: 13px;
  border: 1px solid transparent;
  background: #06245c;
  text-align: center;
  height: 50px;
  width: 300px;
}

.ln-heading h1 {
  font-familys: "Poppins", Arial, Helvetica;
  font-size: 20px;
  font-weight: 200;
  color: #FFF;
}

.gallery-link {
  border: 1px solid transparent;
  border-radius: 0px    !important;
  width: 200px;
  height: 40px;
  background: #06245c !important;
  text-align: center;
  margin: 20px;
  padding: 8px;
  cursor: pointer;
}

.gallery-link a {
  font-weight: 400;
  color: #FFF   !important;
  font-family: "Poppins", Arial, Helvetica;
  font-size: 16px;
}

.gallery-link:hover {
  background-color: #ebe2e2 !important;
  cursor: pointer;
  -webkit-transition: ease-in-out,0.5s;
  transition: ease-in-out,0.5s;
}

.gallery-link:hover a {
  color: #06245c   !important;
}

@media screen and (max-width: 320px) {
  .ln-heading {
    margin: 20px;
    margin-left: 15px !important;
    padding: 13px;
    border: 1px solid transparent;
    background: #06245c;
    text-align: center;
    height: 50px;
    width: 250px;
  }
  .ln-heading h1 {
    font-family: "Poppins", Arial, Helvetica;
    font-size: 18px;
    font-weight: 200;
    color: #FFF;
  }
  .event-heading {
    margin: 20px;
    margin-left: 15px !important;
    padding: 13px;
    border: 1px solid transparent;
    background: #06245c;
    text-align: center;
    height: 50px;
    width: 250px;
  }
  .event-heading h1 {
    font-family: "Poppins", Arial, Helvetica;
    font-size: 18px;
    font-weight: 200;
    color: #FFF;
  }
}

.event-heading {
  margin: 20px;
  padding: 13px;
  border: 1px solid transparent;
  background: #06245c;
  text-align: center;
  height: 50px;
  width: 300px;
}

.event-heading h1 {
  font-family: "Poppins", Arial, Helvetica;
  font-size: 20px;
  font-weight: 200;
  color: #FFF;
}

.card {
  background: rgba(0, 0, 0, 0.02);
  margin: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card h3 {
  font-weight: 300;
  padding: 5px;
}

.card p {
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  width: inherit;
}

.card:hover {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
  -webkit-transition: ease-in-out, 0.5s;
  transition: ease-in-out, 0.5s;
}

.announcements {
  padding: 10px;
  width: inherit;
  height: 80vh;
  background: #013361;
}

.announcements img {
  margin: 10px;
  border-radius: 50%;
  height: 130px;
  width: 150px;
}

.announcements h4 {
  color: #FFF;
}

.announcements h5 {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .news-prev {
    font-size: 11px;
    font-family: "Poppins", Arial, Helvetica;
    border: 1px solid transparent !important;
    background: #06245c !important;
    width: 100px !important;
    height: 30px !important;
    text-align: center !important;
    margin: 20px !important;
    color: #FFF !important;
    padding: 4px !important;
    border-radius: 0px !important;
  }
  .news-prev:hover, .news-next:hover {
    background: #ece3e3 !important;
    color: #06245c !important;
    -webkit-transition: ease-in-out, 0.5s !important;
    transition: ease-in-out, 0.5s !important;
    cursor: pointer !important;
  }
  .controls-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2%;
  }
  .news-next {
    font-size: 11px;
    font-family: "Poppins", Arial, Helvetica;
    border: 1px solid transparent !important;
    background: #06245c !important;
    width: 100px !important;
    height: 30px !important;
    text-align: center !important;
    margin: 20px !important;
    color: #FFF !important;
    padding: 4px !important;
    border-radius: 0px !important;
  }
}
/*# sourceMappingURL=blog.css.map */