body {
  background-color: rgba(0, 0, 0, 0.897) !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

button {
  outline: none;
}

.Byiman-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/loader.gif) center no-repeat #fff;
}

nav {
  height: 50px;
  background-color: transparent;
}

nav button {
  height: 100%;
  border: none;
  padding: 0 50px;
  color: #fff;
  font-weight: 400;
  background-color: rgba(110, 110, 112, 0.534);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: none;
}

nav button:hover {
  background-color: rgba(255, 255, 255, 0.959);
  color: black;
  cursor: pointer;
}

.vertical {
  background-color: rgba(110, 110, 112, 0.534);
  position: absolute;
  left: 440px;
  top: 0px;
  height: 200px;
  width: 400px;
  z-index: -1;
}

.vertical2 {
  background-color: rgba(0, 101, 252, 0.514);
  position: absolute;
  left: 840px;
  top: 200px;
  height: 300px;
  width: 400px;
}

.header {
  z-index: 2;
  position: absolute;
  left: 150px;
  top: 150px;
  width: 700px;
  color: #fff;
}

.header #holidayWorks {
  color: #fff;
  background-color: rgba(0, 101, 252, 0.514);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header #holidayWorks:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header h1 {
  line-height: 1.3;
  color: #fff;
  font-size: 40px;
}

.header p {
  margin-top: 30px;
  font-weight: 300;
  line-height: 1.9;
  color: #fff;
}

.header button {
  padding: 15px 20px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-weight: 400;
}

.header .student {
  background-color: rgba(0, 101, 252, 0.514);
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .student:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .teacher {
  background-color: rgba(110, 110, 112, 0.534);
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .teacher:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .sign {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .vertical2 {
    left: 0px;
  }
  .vertical {
    left: 400px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    left: 20px;
  }
}

@media screen and (max-width: 820px) {
  .vertical {
    left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    width: 500px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    width: 400px;
  }
  .vertical {
    width: 100%;
  }
  .vertical2 {
    width: 100%;
    height: 70vh;
  }
  .sign button {
    margin-bottom: 30px;
    width: 180px;
  }
}
/*# sourceMappingURL=E-learning.css.map */